body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-top: 100px; */
  box-sizing: border-box;
  background-color: rgb(165, 205, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =========================
      Search Style
========================= */

.search-body {
  margin: 20px auto;
  max-width: 500px;
}
.search-input {
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 2px solid black;
  border-radius: 10px;
  letter-spacing: 1.5px;
  color: #fff;
  background-color: rgb(165, 205, 240);
}

.search-input:focus {
  outline: none;
  background-color: rgb(99, 171, 233);
}
.search-input-div {
  max-width: 290px;
  margin: 40px auto;
}
.data-body {
  color: #fff;
}
.each-data {
  font-size: 1.2rem;
  background-color: rgb(12, 14, 27);
  margin: 3px 0;
  padding: 15px 10px;
  border-radius: 5px;
}
.each-data:hover {
  opacity: 90%;
  color: red;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .search-body {
    max-width: 250px;
  }
  .search-input-div {
    max-width: 190px;
    margin: 20px auto;
  }
  .search-input {
    max-width: 150px;
  }
}
